<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>


<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Yagneswar Naidu.
            It is my first Node web application.
        </p>
        <img class="portrait" src="/img/Me.jpg">
    </div>
    {{>footer}}
</body>

</html>